.row
  .col-xs-12
    %h1 Arrivi
    %table
      %theah
        %tr
          %th treno
          %th
          %th provenienza
          %th orario
          %th ritardo
          %th binario
      %tbody
        - arrivals.each do |arrival|
          %tr
            %td
            %td= arrival.train_code
            %td= arrival.origin
            %td= arrival.time.strftime("%H:%M")
            %td= arrival.delay if arrival.delay != 0
            %td= arrival.platform