%link{ :rel => "stylesheet", :href => "/css/schedule.css" }

%span.schedule-title Arrivi
Arrivals
%img.logo-rfi{src: '/images/logoRFI.png'}
%table.table
  %thead
    %tr
      %th
        %span.schedule-title treno
        %br
        train
      %th
      %th
        %span.schedule-title provenienza
        %br
        origin
      %th
        %span.schedule-title orario
        %br
        time
      %th
        %span.schedule-title ritardo
        %br
        delay
      %th
        %span.schedule-title binario
        %br
        platform
  %tbody
    - arrivals.each do |arrival|
      %tr
        %td
        %td= arrival.train_code
        %td= arrival.origin
        %td= arrival.time.strftime("%H:%M")
        %td= arrival.delay if arrival.delay != 0
        %td= arrival.platform