.row
  .col-xs-12
    %h1 Partenze
    %table
      %theah
        %tr
          %th treno
          %th
          %th destinazione
          %th orario
          %th ritardo
          %th binario
      %tbody
        - departures.each do |departure|
          %tr
            %td
            %td= departure.train_code
            %td= departure.destination
            %td= departure.time.strftime("%H:%M")
            %td= departure.delay if departure.delay != 0
            %td= departure.platform

.row
  .col-xs-12
    %h1 Arrivi
    %table
      %theah
        %tr
          %th treno
          %th
          %th provenienza
          %th orario
          %th ritardo
          %th binario
      %tbody
        - arrivals.each do |arrival|
          %tr
            %td
            %td= arrival.train_code
            %td= arrival.origin
            %td= arrival.time.strftime("%H:%M")
            %td= arrival.delay if arrival.delay != 0
            %td= arrival.platform